:root
	--primary: #005CBC
	--on-primary: #FFFFFF
	--secondary: #D6E3FF
	--on-secondary: #001B3F
	--tertiary: #F0F3FC
	--on-tertiary: #131C2B
	
	--surface: #ffffff
	--surface-1: #F0F3FC
	--surface-2: #E9EEFA
	--surface-5: #DAE5F6
	--on-surface: #1A1B1F
	--on-surface-alt: #44474F

// @media (prefers-color-scheme: dark) 
// 	:root
// 		--primary #A8C7FF
// 		--on-primary #002F67
// 		--secondary #2A2E38
// 		--on-secondary #A8C7FF
// 		--tertiary #252931
// 		--on-tertiary #DAE2F8

// 		--surface #2E333E
// 		--surface-1 #21242A
// 		--surface-2 #252931
// 		--surface-5 #1A1B1F
// 		--on-surface #E3E2E6
// 		--on-surface-alt #C4C6CF